*{
    margin: 0 0;
    padding: 0 0;
    font-family: Poppins,Arial;
    /* box-sizing: border-box; */
    text-decoration: none;
    color: white;
}

body{
    background-color:#323232;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;
}

.frame{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    height: 450px;
    max-width: 320px;
    min-width: 300px;
    width: 50%;
    background-color: #161717;
    border-radius: 12px;
}

.frame .game-state{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 170px;
    /* position:relative; */
    background-color: #323232;
    border-radius: 8px;
    border: solid 2px #0d8de9;
    margin: 30px;
}
.hangman-svg {
    height: 120px;
    width: 120px;
}

svg {
    height: 100%;
    stroke: rgb(96, 94, 94);
    fill: rgb(96, 94, 94);
}

.text-input{
    width: 75%;
    margin: 8px;
    display: flex;
    justify-content: center;
}

.text-input .input-text{
    background-color: #323232;
    border: none;
    height: 32px;
    width: 100%;
    padding: 0 10px;
    border-radius: 8px;
}

.input-text:focus{
    outline: none;
}

.letters{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 300px;
    flex-wrap: wrap; 
}

.letters div{
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    margin: 3px 3px;
    min-width: 25px;
    background-color: #9D2FA4;
    border-radius: 5px;
}